<nz-page-header
  (nzBack)="onBack()"
  nzBackIcon
  [nzTitle]="encodersTitle"
  [nzSubtitle]="encodersDescription"
></nz-page-header>

<div class="content">
  <input nz-input [ngModel]="input" (ngModelChange)="onChange($event)" />

  <!-- Base64 -->
  <nz-input-group nzSearch nzAddOnBefore="Base64" [nzAddOnAfter]="suffixBase64">
    <input type="text" readonly nz-input [ngModel]="outputBase64" />
  </nz-input-group>

  <ng-template #suffixBase64>
    <button
      nz-button
      nzType="default"
      nzSearch
      nz-popover
      nzPopoverTrigger="click"
      [nzPopoverContent]="copied"
      (click)="onCopy(outputBase64)"
    >
      <span nz-icon nzType="copy"></span>
    </button>
  </ng-template>

  <!-- Hex -->
  <nz-input-group nzSearch nzAddOnBefore="Hex" [nzAddOnAfter]="suffixHex">
    <input type="text" readonly nz-input [ngModel]="outputHex" />
  </nz-input-group>

  <ng-template #suffixHex>
    <button
      nz-button
      nzType="default"
      nzSearch
      nz-popover
      nzPopoverTrigger="click"
      [nzPopoverContent]="copied"
      (click)="onCopy(outputHex)"
    >
      <span nz-icon nzType="copy"></span>
    </button>
  </ng-template>
</div>
