.layout {
  min-height: 100vh;
}

nz-header {
  position: fixed;
  width: 100%;
}

.title {
  color: #fff;
}

nz-content {
  padding: 0 50px;
  margin-top: 64px;
}

nz-footer {
  text-align: center;
}
